nav {
    z-index: 99;
}

.skill-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    /* vh: View Height, 보이는 브라우저 높이 */
}

.carousel-item img {
    height: 96vh;
}